* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-regular);
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #1e1e1e;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: #555;
  border-radius: 4px;
}
